.title-conteiner {
    padding-top: 0px;
   }

   .team-title {
    display: flex;
    align-items: center;
  } 
  
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }